@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --main-color:black;
    --secondary-color:white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color:var(--main-color);
}

#icon{
    width: 30px;
    cursor: pointer;
    margin-left: 60rem;
}
.dark-theme{
    --main-color:rgb(0, 0, 0);
    --secondary-color:white;
}
.light-theme{
    --main-color:rgb(255, 255, 255);
    --secondary-color:rgb(0, 0, 0);
}

input{
    display: none;
}
.container{
    width: 100%;
    text-align: center;
    padding: 40px;
}
h1{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    position: relative;
    margin: 40px 0;
    color: var(--secondary-color);
}

.top-content{
    
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 16px;
}

label{
    font-family: "Bebas Neue", serif;
    display: inline-block;
    height: 100%;
    margin: 0 17px;
    line-height: 60px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
    transition: 0.5s;
   

}
label:hover{
    color: rgb(255, 0, 0);

}
.Photo-gallery{

    column-count: 3;
    max-width: 100%;
}

.nature img{
    width:100%;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px rgba(224, 222, 222, 0.269);
    transition: all ease 1s; 
    overflow: hidden;
}

.nature:hover img{
    opacity: 80%;
    scale: 0.9;
}

#check1:checked ~.container .Photo-gallery .nature{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}
#check2:checked ~.container .Photo-gallery .emoji{
    opacity: 1;
    transform: scale(1);
    position: relative;
}

#check2:checked ~.container .Photo-gallery .car,
#check2:checked ~.container .Photo-gallery .place{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
}

#check3:checked ~.container .Photo-gallery .car{
    opacity: 1;
    transform: scale(1);
    position: relative;
}

#check3:checked ~.container .Photo-gallery .emoji,
#check3:checked ~.container .Photo-gallery .place{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
}

#check4:checked ~.container .Photo-gallery .place{
    opacity: 1;
    transform: scale(1);
    position: relative;
}

#check4:checked ~.container .Photo-gallery .emoji,
#check4:checked ~.container .Photo-gallery .car{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;
}


footer {
    font-family: "Bebas Neue", serif;
    background-color: var(--main-color);
    color:  var(--secondary-color);
    text-align: center;
    padding: 20px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
}
footer p{
    font-family: "Bebas Neue", serif;
    font-size:1rem;
}

.footer-links a {
    font-family: "Bebas Neue", serif;
    font-size:2rem;
    color:  var(--secondary-color);
    text-decoration: none;
    margin: 0 15px;
}

.footer-links a:hover {
    text-decoration: underline;
}


